h1 {
    color: rgb(193, 207, 111);
}

body{
    background-color: rgb(30, 59, 7);
    color: white;
    text-align: center;
}

#message-el {
    font-style: italic;
    font-weight: bolder;
}

button {
    width: 150px;
    color: rgb(66, 70, 73);
    background-color: rgb(216, 230, 93);
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.new {
    background-color: aqua;
}

